*{
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}
body {
    margin: 0px;
}

.container {
    padding: 50px 20px;
}
.container-fluid {
    display: block;
}
.col.sucess {
    padding: 50px 20px;
}
.col.img {
    display: flex;
    justify-content: center;
}

.container-fluid .col img {
    width: 80%;
}



h1{
    font-family: 'Lemon', serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: -0.05em;
    margin: 0px;
}

h2{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.05em;
    z-index: 2;
}
p{
    font-size: 14px;
}
a {
    text-decoration: none;
    
}
#Full h3 {
    margin: 0px;
    font-size: 20px;
    letter-spacing: 1rem;
    text-align: center;
    font-weight: 100;
}

a.btn {
    text-decoration: none;
    color: black;
}
a.btn.primary {
    border: 1px solid;
    width: 150px;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-image: linear-gradient(to right top, #e58bf8, #67effe);
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 0.7rem;
    border: 0px;
    box-shadow: 1px 1px 3px #8886b7cf;
    opacity: 0.9;
    transition: .3s;
}

span.title::before {
    content: '';
    display: block;
    width: 290px;
    height: 200px;
    background-image: url(../img/full-min.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 4%;
}

.card {
    padding: 30px 20px;
    margin: 10px 15px;
    background-color: white;
    border-radius: 15px;
    border: 0px;
    box-shadow: 5px 10px 18px #c9c9c9;
    height: 100%;
    justify-content: space-evenly;
}

.h6, h6 {
    font-size: 1rem;
    font-weight: bold;
}


@media (min-width:768px) {
    .container-fluid .col img {
        width: 70%;
    }


    span.title::before {
        width: 300px;
        height: 200px;
        left: 10%;
    }
    h1{
        font-family: 'Lemon', serif;
        font-size: 110px;
        font-weight: 500;
        letter-spacing: -0.05em;
    }
    h2 {
        font-size: 47px;
        font-weight: 500;
        letter-spacing: -0.05em;
        z-index: 2;
    }
    #Full h3 {
        margin: 0px;
        font-size: 30px;
        letter-spacing: 2.2rem;
        text-align: center;
        font-weight: 100;
    }
   
    .container {
        padding: 100px 60px;
    }
    .container-fluid {
        display: flex;
    }

    .col.img {
        display: flex;
        align-items: end;
        justify-content: center;
    }
    
}
