#Footer{
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
}

.footer  ul.nav.footer {
    display: block;
}
.footer li.nav-item {
    justify-content: center;
    display: flex;
}
.footer  a.nav-link {
    color: white;
    text-align: center;
}
.footer .col-content img {
    width: 100%;
}
.footer .col-content .social img {
    width: 25px !important;
}


@media (min-width:768px) {
    .footer{
        display: block;
    }
    
    .footer  ul.nav.footer {
        display: flex;
    }
    
    .footer .container .col-content {
        margin: 0px 50px;
    }
    .footer .col-content img {
        width: 50%;
    }
    .footer .col-content .social img {
        width: 25px;
    }
    .footer p{
        text-align: center;
    }
}
