#Loja .content-title {
    text-align: center;
}
#Loja .card{
    padding: 20px 20px;
    margin: 10px 15px;
    background-color: white;
    border-radius: 15px;
    border: 0px;
    box-shadow: 5px 10px 18px #c9c9c9;
    justify-content: center;
    max-height: 95%;
}
#Loja .card-body {
    padding: 25px 0px;
}
#Loja .card-header {
    padding: 0px;
}
#Loja .card-header img {
    width: 100%;
    border-radius: 15px;
}