#Full {
    background-image: url(../img/full.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    text-align: center;
    justify-content: center;
    display: flex;
}
    #Full h3 {
        margin: 0px;
    }
    #Full h1 {
        margin: 0px;
    }

    #Full .content-text {
        margin: 90px 0px 0px 0px;
    }
    #Full .content-text p {
        font-size: 14px;
    }
    #Full .content-footer {
        margin: 105px 0px 0px 0px;
    }


    #Services {
        background-color: #C9DDFB;
        padding: 0px 20px 0px 20px;
    }
    #Services .container {
        display: block;
        align-items: center;
    }
    #Services .container .col-content{
        padding: 10px;
        width: 90%;
    }
    #Services .container .col-content-c{
        display: block;
    }
    
    #Services .card {
        padding: 15px;
        margin: 10px 5px;
        background-color: white;
        border-radius: 15px;
    }
    #Services .card h6 {
        margin: 10px 0px;
        font-size: 16px;
    }
    #Services .card p {
        margin: 10px 0px;
        font-size: 14px;
    }


 #Ai {
        background-color: white;
        min-height: 530px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right 130px;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #Ai .container{
        width: 90%;
        margin: 50px;
        align-items: center;
        display: flex;
    }
    
    #Ebook .valor-content {
        width: 105px;
    }
    #Ebook .valor{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #Galery .overlaygallery {
        background: #000000c7;
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;
        border-radius: 10px;
        /* display: block; */
        /* background-image: linear-gradient(to right top, #a5e4fd, #f3b9e6); */
        background-image: linear-gradient(238deg, transparent, #07070cab);
        transform: scaleY(0);
        transition: 1s;
        top: 100%;
    }

    .galery {
        display: block;
        text-align: center;
    }

    .tempo {
        padding: 50px 20px;
        display: block;
        text-align: center;
    }

    #About .container {
        display: block;
    }
    #About .container .col-content {
        margin: 0px 0px;
        padding: 0px 0px;
    }
    #About .container .col-content img{
        width: 100%;
    }
    #About span.title::before {
        width: 300px;
        height: 200px;
        left: 10%;
       
    }

    #Reviews {
        display: block;
        text-align: center;
    }
    .comentarios {
        display: block;
    }

    #Contato {
        background-color: #C9DDFB;
    }
    .contact .container {
        display: block;
    }
    #Contato form input {
        background-color: #F5F5F5;
        padding: 13px;
        width: 100%;
        margin: 5px 0px;
        border: 0px;
        border-radius: 20px;
    }
    #Contato form .msg {
        background-color: #F5F5F5;
        padding: 13px;
        width: 100%;
        border: 0px;
        border-radius: 20px;
    }
    #Contato form button {
        border: 1px solid;
        width: 150px;
        display: inline-flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-image: linear-gradient(to right top, #e58bf8, #67effe);
        font-weight: 600 !important;
        text-transform: uppercase;
        font-size: 0.7rem;
        border: 0px;
        box-shadow: 1px 1px 3px #8886b7cf;
        opacity: 0.9;
        transition: .3s;
    }
    #Contato .col-content {
        width: 80%;
    }
    #Contato .col-content .content-text{
        padding: 0px 0px 50px;
    }


@media (min-width:768px) {
    #Full {
        background-image: url(../img/full.png);
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #Full .content-text p {
        font-size: 16px;
    }
    #Full .content-footer p {
        font-size: 19px;
    }
    
    #Services {
        background-color: #C9DDFB;
        min-height: 100vh;
        align-items: center;
        display: flex;
    }
    #Services .container {
        display: flex;
        align-items: center;
    }
    #Services .container .col-content{
        width: 40%;
        padding: 30px;
       
    }
    #Services .container .col-content-c {
        grid-template-columns: repeat(2, 45%);
        grid-gap: 50px;
        display: grid;
        width: 50%;
        max-width: 750px;
        margin: 0 auto;
    }
    #Services .content{
        width: 50%;
    } 
    #Services .card {
        padding: 15px;
        margin: 10px 5px;
        background-color: white;
        border-radius: 15px;
    }
    #Services .card h6 {
        margin: 10px 0px;
        font-size: 16px;
    }
    #Services .card p {
        margin: 10px 0px;
        font-size: 14px;
    }
    

    #Ai {
        background-image: url(../img/ai.png);
        min-height: 430px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: start;
        justify-content: center;
        display: flex;
    }

    #Ebook{
        background-image: url(../img/ebook.png);
        min-height: 330px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: start;
        justify-content: center;
        display: flex;
    }
    #Ebook .container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #Ebook .valor-content {
        width: 105px;
    }
    #Ebook .valor{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .galery {
        padding: 50px;
        display: block;
        text-align: center;
    }

    .tempo {
        padding: 50px;
        display: block;
        text-align: center;
    }


    #About .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
    }
    #About .container .col-content {
        margin: 0px 50px;
    }
    #About .container .col-content{
        padding: 0px 10px;
    }
    #About span.title::before {
        width: 300px;
        height: 200px;
        left: 50%;
       
    }

    #Reviews {
        padding: 50px 60px;
        display: block;
        text-align: center;
    }
    .comentarios {
        display: flex;
    }


    

    #Contato {
        background-color: #C9DDFB;
        padding: 50px 0px 50px 0px;
    }
    .contact .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
    }
    #Contato form input {
        background-color: #F5F5F5;
        padding: 13px;
        width: 100%;
        margin: 5px 0px;
        border: 0px;
        border-radius: 20px;
    }
    #Contato form .msg {
        background-color: #F5F5F5;
        padding: 13px;
        width: 100%;
        border: 0px;
        border-radius: 20px;
    }
    #Contato form button {
        border: 1px solid;
        width: 150px;
        display: inline-flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-image: linear-gradient(to right top, #e58bf8, #67effe);
        font-weight: 600 !important;
        text-transform: uppercase;
        font-size: 0.7rem;
        border: 0px;
        box-shadow: 1px 1px 3px #8886b7cf;
        opacity: 0.9;
        transition: .3s;
    }
    #Contato .col-content {
        width: 30%;
    }

}
@media (min-width:1024px) {
    

    #Ai {
        background-image: url(../img/ai.png);
        min-height: 530px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-align: start;
        justify-content: center;
        display: flex;
    }


}