  /*#Menu{
    Add the blur effect 
  filter: blur(8px);
  -webkit-filter: blur(8px);
}*/
nav.navbar.fixed-top.navbar-expand-lg{
    background-color: white;
}
.nav {
  flex-wrap: wrap;
}

a.nav-link {
    color: black;
}


@media (min-width:768px) {
   .nav {
    flex-wrap: inherit !important;
} 
}
